html,
	body {
	  height: 100%;
	  width: 100%;
    }
    
#header{
    background-color: rgb(48, 160, 160);
}
#menu{
    background-color: coral;
    float: left;
    width; 150px;
    height: 100%;
    font-size: 20px;

}
#menu ul li{
    list-style: none;
}
#menu ul li a{
    text-decoration: none;
}
#menu ul li a:hover{
    background-color: moccasin;
}
#content{
    background-color: cornsilk;
    margin-left: 160px;
}
#footer{
    background-color: mediumpurple;
}


